<h2>Template: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save(myForm)" #myForm="ngForm" autocomplete="off">
      <!-- Product part -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            name="product"
            ngModel
            required
          />
          <span class="form-text text-danger">Must be 3 letters</span>
        </div>
      </div>
      <!-- Price part -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product price"
            name="price"
            ngModel
            required
            min="0"
          />
        </div>
      </div>
      <!-- Stock part -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product stock"
            name="stock"
            ngModel
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
  </div>
</div>
